In [ ]:
# Mohammad Abdul Maajid Bhat

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
#Sol1
w = 'Maajid'
x = [4,5, 's', [1,2,3]]
y = 25.6
z = (1,3,2,1)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [10]:
#Sol2
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [11]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Sol3
i) /
This is used as a symbol to divide 2 numbers. e.g 4/2 =2.0
ii) % 
This is used as a symbol for modulus. e.g 8%3 = 2
iii) //
This is used as a symbol for floor division e.g 10//3 =3
iv) **
This is used as a symbol for exponential e.g 2**4 = 16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
#Sol4
list1 = [1, 2, 'Maajid', 2.6 ,[1,2,3,4], 'Srinagar', True, 5 + 3j, (7,8,9), 14]
for i in list1:
    print(i)

1
2
Maajid
2.6
[1, 2, 3, 4]
Srinagar
True
(5+3j)
(7, 8, 9)
14

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
#Sol5
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

if A % B == 0:
    print(f"{A} is divisible by {B}.")
else:
    print(f"{A} is not divisible by {B}.")

# Initializing a count variable to keep track of the number of divisions
count = 0

# Use a while loop to perform the division until it is not possible anymore
while A % B == 0:
    A = A // B  # Perform the division
    count += 1  # Increment the count

# Print the result
print(f"{A} can be divided {count} times by {B}.")

Enter the number A:  48
Enter the number B:  2

48 is divisible by 2.
3 can be divided 4 times by 2.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
#Sol6
list2 = [3,6,9,12,15,18,21,25,27,30,33,36,39,42,45,7,4,8,11,13,17,19,22,26,28]

for i in list2:
    if i%3==0:
        print(" element is divisible by 3")
    else:
        print(" element is not divisible by 3")

 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is not divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3
 element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Sol 7:
If we are able to replace elements then it is called mutable. If we cannot replace elements itis called immutable.
e.g Elements of Lists are mutable, because we can index elements of it, by this we can replace its elements. While on the other hand strings are immutable beacuse we cannot index them, thus can't replace it. We can replace but the whole string not it's elements.

In [2]:
#Example of mutable
list3 = [2,3,5,3+4j, 'Maajid']

list3[1] = 56
print(list3)

[2, 56, 5, (3+4j), 'Maajid']

In [3]:
##Example of immutable

list3[4] = 'Bhat'
print(list4)

NameError: name 'list4' is not defined